@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learning Platform - Service</title>
</head>
<body>
    <h1>GENERIC - WEB SERVICE</h1>
</body>
</html>
