<div fxLayout="row" fxLayoutAlign="center center" class="full-width">

    <dx-data-grid id="gridContainer" [dataSource]="gridData" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true"
        [rowAlternationEnabled]="true" [showBorders]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="auto"></dxo-filter-row>
        <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="auto"></dxo-filter-row>
        <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
        <dxi-column dataField="CustomerStatementId" caption="Id" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="CardNumber" caption="Card Number" [hidingPriority]="12" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FullName" caption="Full Name" [hidingPriority]="12" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="StatementEndDate" caption="Statement Date" [hidingPriority]="11" headerCellTemplate="headerTemplate"
            [customizeText]="formatDateColumn"></dxi-column>
        <dxi-column dataField="StatementFileName" caption="Statement FileName" [hidingPriority]="12" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="DateStatementSent" caption="Date Statement Sent" [hidingPriority]="11" headerCellTemplate="headerTemplate"
            [customizeText]="formatDateTimeColumn"></dxi-column>
        <dxi-column [customizeText]="generateActionsCell" caption="Actions" cellTemplate="actionCellTemplate"></dxi-column>

        <div *dxTemplate="let info of 'headerTemplate'">
            <span style="word-wrap: break-word; white-space: normal;">{{info.column.caption}}</span>
        </div>
        <div *dxTemplate="let a of 'actionCellTemplate'">
            <button *ngIf="a.data.ShowUnSentEditMenu" md-icon-button mdTooltip="Actions" [mdMenuTriggerFor]="appMenuUnSent" mdTooltipPosition="right"
                (click)="ActionRow = a.data">
                <i class="material-icons">settings</i>
            </button>
            <button *ngIf="!a.data.ShowUnSentEditMenu" md-icon-button mdTooltip="Actions" [mdMenuTriggerFor]="appMenuSent" mdTooltipPosition="right"
                (click)="ActionRow = a.data">
                <i class="material-icons">settings</i>
            </button>
        </div>
        <dxo-search-panel [visible]="false" [width]="240" placeholder="Search..." [highlightSearchText]="true"></dxo-search-panel>
        <div *dxTemplate="let data of 'totalItemCount'">
            <div class="informer">
                <h2 class="count">{{totalCount}}</h2>
                <span class="name">Total Count</span>
            </div>
        </div>
        <div *dxTemplate="let data of 'periodLabel'">
            <h3 class="period-dropdown-label">Statement Date</h3>
        </div>
        <div *dxTemplate="let d of 'highlightCellTemplate'" [innerHTML]="(d | gridTextHighlight: SearchText)"></div>




        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20,50,100]"></dxo-pager>

        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true">
        </dxo-remote-operations>
    </dx-data-grid>

    <md-menu #appMenuUnSent="mdMenu" xPosition="before" yPosition="below">
        <button md-menu-item (click)="ViewStatement()"> View Statement </button>
    </md-menu>
    <md-menu #appMenuSent="mdMenu" xPosition="before" yPosition="below">
        <button md-menu-item (click)="ViewStatement()"> View Statement </button>
    </md-menu>

</div>