.ios,
.md {
    .scroll-content {
        overflow-y: auto;
    }
    .pointer {
        cursor: pointer;
    }
    .toolbar-background {
        background: transparent;
    }
    .header::after,
    .footer-md::before,
    {
        background-image: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'folksbold'!important;
    }
}