<div fxLayout="row" fxLayoutAlign="center center" class="full-width">

    <dx-data-grid id="gridContainer" [dataSource]="gridData" [columnAutoWidth]="true" [showColumnLines]="true" [showRowLines]="true"
        [rowAlternationEnabled]="true" [showBorders]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="showFilterRow" [applyFilter]="auto"></dxo-filter-row>
        <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

        <dxi-column dataField="BrandName" caption="Brand Name" [hidingPriority]="9" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeProcessMonth" caption="Date" headerCellTemplate="headerTemplate" [hidingPriority]="1" [customizeText]="formatDateColumn"></dxi-column>
        <dxi-column dataField="AccountType" caption="Account Type" [hidingPriority]="8" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="AccountStatus" caption="Account Status" [hidingPriority]="7" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeTypeDescription" caption="Fee Type Description" [hidingPriority]="6" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeModelRuleName" caption="Fee Model Rule Name" [hidingPriority]="5" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeAmountEXC" caption="Fee Amount EXC" [hidingPriority]="4" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeAmountVAT" caption="Fee Amount VAT" [hidingPriority]="3" headerCellTemplate="headerTemplate"></dxi-column>
        <dxi-column dataField="FeeAmountINC" caption="Fee Amount INC" [hidingPriority]="2" headerCellTemplate="headerTemplate"></dxi-column>
       

        <div *dxTemplate="let info of 'headerTemplate'">
            <span style="word-wrap: break-word; white-space: normal;">{{info.column.caption}}</span>
        </div>
        
        <dxo-search-panel [visible]="false" [width]="240" placeholder="Search..." [highlightSearchText]="true"></dxo-search-panel>

        <div *dxTemplate="let data of 'totalItemCount'">
            <div class="informer">
                <h2 class="count">{{totalCount}}</h2>
                <span class="name">Total Count</span>
            </div>
        </div>

        <div *dxTemplate="let data of 'periodLabel'">

        </div>

        <div *dxTemplate="let data of 'brandDropDown'">
            <dx-select-box [items]="BrandNamesList" placeholder="All Brand Names" [showClearButton]="true" (onValueChanged)="BrandNamesChanged($event)"
                [width]="250"></dx-select-box>
        </div>

        <div *dxTemplate="let data of 'monthsFromDropDown'">
            <dx-select-box placeholder="Month From" [items]="BrandNamesMonths" [showClearButton]="true" [value]="SearchDateFrom" (onValueChanged)="MonthFromChanged($event)"
                [width]="200"></dx-select-box>
        </div>

        <div *dxTemplate="let data of 'monthsToDropDown'">
            <dx-select-box placeholder="Month To" [items]="BrandNamesMonths" [showClearButton]="true" [value]="SearchDateTo" (onValueChanged)="MonthToChanged($event)"
                [width]="200"></dx-select-box>
        </div>

        <dxo-summary>
            <dxi-total-item displayFormat="Total: {0}" column="FeeAmountEXC">
            </dxi-total-item>
            <dxi-total-item displayFormat="Total: {0}" column="FeeAmountVAT">
            </dxi-total-item>
            <dxi-total-item displayFormat="Total: {0}" column="FeeAmountINC">
            </dxi-total-item>
        </dxo-summary>

        <div *dxTemplate="let d of 'highlightCellTemplate'" [innerHTML]="(d | gridTextHighlight: SearchText)"></div>

        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20,50,100]"></dxo-pager>

        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true" [summary]="true">
        </dxo-remote-operations>
    </dx-data-grid>
    
</div>