.centerForm {
    max-width: 1000px;
}

.communicationGridTable {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(63, 81, 181);
}

.communicationGridTable thead th {
    font-weight: bold;
    background-color: rgb(63, 81, 181);
    color: #fff;
    padding: 7px;
}

.communicationGridTable tbody tr {
    border-bottom: 1px solid rgb(63, 81, 181);
}

.communicationGridTable tbody tr td {
    padding: 7px;
    border-bottom: 1px solid rgb(63, 81, 181);
}